:root {
    --black: #000;
    --light-gray: #819796;
    --mid-gray: #577277;
    --dark-gray: #394a50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, label, h1, button {
    font-family: "Saira", sans-serif;
    color: #394a50;
}

body {
    background-color: #add8e6;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#main-canvas {
    z-index: -1;
    width: 95vh;
    height: 95vh;
    transition: scale 0.3s ease; 
}

#gen_form {
    width: 12%;
    position: absolute;
    padding: 1.5rem;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid var(--dark-gray);
}

#gen_form h1 {
    font-size: 150%;
}

#gen_form label {
    font-size: 1.1rem;
    font-weight: 500;
}

#gen_form button[type='submit'] {
    margin-top: 1rem;
    border-radius: 10px;
    border-width: 1px;
    width: 75%;
    align-self: center;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color ease 0.25s;
}

#gen_form button[type='submit']:hover {
    cursor: pointer;
    background-color: #cccccc;
}

#generating_label {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}